{% extends "base.html" %}

{% block title %}Login - ACJOGOS{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width: 400px;">
    <h2 class="text-center mb-4">Login</h2>

    <form method="post">
        
        {% csrf_token %}

        {{ form.username.label_tag }}
        {{ form.username }}

        <br>

        {{ form.password.label_tag }}
        {{ form.password }}

        <br>

        <button class="btn btn-primary w-100 mt-2" type="submit">Entrar</button>
    </form>
</div>

{% endblock %}
