{% extends "base.html" %}

{% block title %}Cadastro - ACJOGOS{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width: 500px;">
    <h2 class="text-center mb-4">Criar Conta</h2>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}

                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button class="btn btn-success w-100" type="submit">
            Cadastrar
        </button>
    </form>

    <p class="text-center mt-3">
        Já tem conta?
        <a href="{% url 'login' %}">Faça login</a>
    </p>
</div>

{% endblock %}
